body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-amiko: Amiko;
  --font-raleway: Raleway;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-xl: 20px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: rgba(255, 255, 255, 0.1);

  /* border radiuses */
  --br-xl: 20px;
}
